name: Windows RDP

on: [workflow_dispatch]

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 9999

    steps:
    - name: Download ngrok
      run: Invoke-WebRequest -Uri "https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip" -OutFile "ngrok.zip"

    - name: Extract ngrok
      run: Expand-Archive ngrok.zip -DestinationPath .

    - name: Authenticate ngrok
      run: .\ngrok\ngrok.exe authtoken $env:2OpSOqNOgTSEmpYHi5t7qrnBBg1_4vjCyWsjUGTvMQKBbcjG6
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}

    - name: Enable Remote Desktop
      run: |
        Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

    - name: Set RDP Password
      run: |
        $password = ConvertTo-SecureString "@cyb3rking" -AsPlainText -Force
        Set-LocalUser -Name "runneradmin" -Password $password

    - name: Start ngrok Tunnel
      run: Start-Process -FilePath ".\ngrok\ngrok.exe" -ArgumentList "tcp 3389" -NoNewWindow

    - name: Show ngrok RDP Address
      shell: powershell
      run: |
        Start-Sleep -Seconds 5
        $tunnel = Invoke-RestMethod -Uri http://127.0.0.1:4040/api/tunnels
        $addr = $tunnel.tunnels.public_url
        Write-Host "`n===== RDP DETAILS ====="
        Write-Host "Address: $addr"
        Write-Host "Username: runneradmin"
        Write-Host "Password: @cyb3rking"
        Write-Host "========================`n"

    - name: Keep Alive
      run: |
        while ($true) {
          Write-Host "RDP Running..."
          Start-Sleep -Seconds 300
        }
